// signature colors
$box-green: #6AB547;
$box-black: #242423;
$box-white: #E5E5E5;

// media sizes
$tablet: 520px; // tablet or larger
$desktop: 990px; // desktop or larger

// test border
@mixin border {
  border: red solid 1px;
}

@mixin mealBackground($size: 100% 100%){
    background-repeat: no-repeat;
    background-size: $size; 
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__main {
    max-width: 1080px;
    width: 100vw
}

#Daily-Box-Bundle {
    @include mealBackground();
    position: relative;
    height: 20rem;
    width: 100vw;
    margin: 0;
    box-shadow: inset 0 0 10rem 5rem black;
    border-radius: 0%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    h1 {
        position: relative;
        margin: 3rem;
        font-size: 3rem;
    }
    h2 {
        position: absolute;
        bottom: 0;
        margin: 3rem;
    }
    p {
        font-size: 3rem;
        font-weight: 700;
        color: $box-white;
        margin: 3rem;
    }
}
@media (min-width: $tablet) {
    #Daily-Box-Bundle {
        height: 30rem;

        h1 {
            font-size: 4rem;
        }
        h2 {
            font-size: 2rem;
        }
    }
}

.home__link {
    text-decoration: none;
    font-weight: 700;
    color: $box-black;
    text-align: center;
    p {
        font-size: 4em;
    }
}

.home__link--create-pizza {
    display: flex;
    justify-content: center;
    h1 {
        
        background-color: $box-green;
        border-radius: 10PX;
        font-size: 3rem;
        border: solid $box-black 1px;
        width: 30rem;
        height: 4rem;
    }
}

.home__meals {
    // @include border();
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-width: 1080px;
    
    @media (min-width: $tablet) {
        flex-direction: row;
        justify-content: space-between
    }
}

.meal {
    @include mealBackground();
    position: relative;
    width: 25rem;
    height: 25rem;
    margin: 2rem;
    color: $box-green;
    border-radius: 25px;
    box-shadow: inset 0 0 5rem 1.5rem black;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    h1 {
        position: absolute;
        margin: 1rem;
        top: 0
    }
    h2 {
        margin: 1rem;
        color: $box-white;
    }
    p {
        margin: 1rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}



.home__rewards {
    width: 100vw;
    max-width: 1080px;
    position: relative;
    height: 20rem;
    background-color: $box-green;
    // @include border();
    h1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -120%);
    }
}
@media (min-width: $tablet) {
    .home__rewards {
        width: 70%;
        margin: 2rem 15%;
        border-radius: 25px;
    }
}




