html {
  font-size: 62.5%; // 10px font size (if html font size is standard(16))
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

// signature colors
$box-green: #6AB547;
$box-black: #242423;
$box-white: #E5E5E5;

// media sizes
$tablet: 520px; // tablet or larger
$desktop: 990px; // desktop or larger

// test border
@mixin border {
  border: red solid 1px;
}




// NAV ------------
.nav {
  border-bottom: $box-black 1px solid;
  display: flex;
  height: 5rem;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  background-color: $box-white;
  // @include border()
}

.nav__link {
  text-decoration: none;
  margin: 0 5px;
  color: $box-black;
  transition: .3s;
  font-size: 1rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

.nav__link:hover {
    border-bottom: $box-green .5rem solid;
  }

.nav__link--home {
  position: absolute;
  left: 0;
}

#box-logo {
  width: 5rem
}

@media (min-width: $tablet) {
  .nav {
    height: 6rem;
  }
  .nav__link {
    margin: 0 20px;
    font-size: 1.2rem;
  }
  #box-logo {
    width: 6rem
  }    
}

@media (min-width: $desktop) {
  .nav {
    height: 7rem;
  }
  .nav__link {
    margin: 0 35px;
  }
  #box-logo {
    width: 7rem
  }     
}




// FOOTER -----------
.footer {
  background-color: $box-black;
  color: $box-green;
}


// footer info links
.footer__info {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

   p {
    cursor: pointer;
    font-size: 1.05rem;
   }
}

@media (min-width: 520px) {
  .footer__info {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0 2rem 0;
  }
}


// footer socials and mobile app links
.footer__socials {
  border-top: $box-white solid 1px;
  display: flex;
  justify-content: space-around;
}


// social links
.footer__socials--apps {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: fit-content(100px) fit-content(100px);
  gap: 3rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  // @include border() 
}

@mixin socialSprite($position: 0 0) {
  width: 4.8rem;
  height: 4.8rem;
  background: url(../public/footer/social-icons.png) no-repeat;
  background-position: $position;
  background-size: 225% 200%;
  background-color: $box-green;
  border-radius: 7px;
  cursor: pointer;
  // @include border()
}
    #facebook {
      @include socialSprite(
        $position: -0.5% -1%
      )
    }
    #twitter {
      @include socialSprite(
        $position: 95% 100%
      )
    }
    #instagram {
      @include socialSprite(
        $position: -0.5% 102%
      )
    }
    #linkedIn {
      @include socialSprite(
        $position: 95% -2.5%
      )
    }

@media (min-width: $tablet) {
  .footer__socials {
    justify-content: space-between;
    align-items: center;
  }
  .footer__socials--apps {
    display: flex;
    justify-content: space-around;

    img {
      margin: 0 15px;
    }
  }
}


// store links
.footer__socials--stores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2rem;
  // @include border()
}

@mixin storeSprite($position: 0 0) {
  width: 18rem;
  height: 6.5rem;
  background: url(../public/footer/mobile-store-logos.png) no-repeat;
  background-position: $position;
  background-size: 100% 200%;
  cursor: pointer;
}
    #app-store {
      // @include border();
      @include storeSprite(
        $position: 0 100%, 
      )
    }
    #play-store {
      // @include border();
      @include storeSprite()
    }

@media (min-width: $tablet) {
  .footer__socials--stores {
    flex-direction: row;
    flex-wrap: wrap;

    img {
      margin: 0 40px 0 0;
    }
  }
}


// footer copyright info
.footer__copyright {
  padding-bottom: 20px;
}

.footer__copyright--tos {
  justify-content: center;
  flex-wrap: wrap;
  display: flex;

  p {
    cursor: pointer;
    margin: 0 1rem 0 1rem;
  }
}

.footer__copyright--rights {
  text-align: center;
}




